@font-face {
    font-family: 'Myriad';
    src: url('../fonts/MyriadPro-Regular_2.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Monsterrat';
    src: url('../fonts/Montserrat-Medium.otf');

}

@font-face {
    font-family: 'Monsterrat-l';
    src: url('../fonts/Montserrat-Light.otf');

}

@font-face {
    font-family: 'Monsterrat-b';
    src: url('../fonts/Montserrat-Bold.otf');

}
@font-face {
    font-family: 'Monsterrat-exb';
    src: url('../fonts/Montserrat-ExtraBold.otf');

}
@font-face {
    font-family: 'Monsterrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.otf');

}
@font-face {
    font-family: 'Monsterrat-r';
    src: url('../fonts/Montserrat-Regular.otf');

}

body {
    background: #000;
    font-family: "Monsterrat";
}
.chairs{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index:2;
}
.modal-content {
    background: url('./../images/modalbg.png');
    background-size: cover;
    box-shadow: none;
    border: none;
    margin-top: 120px;
}

.close {
    margin-top: 25px;
    margin-right: 40px;
    opacity: 1;
    text-decoration: none;
    outline: none;

    &:hover {
        opacity: 1
    }
}

/*MODAL AUTH*/
.modal-body {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.modal_title {
    margin: 0;
    margin-top: 25px;
    text-transform: uppercase;
    color: white;
}

.modal_form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;

    input {
        font-family: "Monsterrat-l";
        border: none;
        outline: none;
        border-bottom: 1px solid white;
        background: transparent;
        color: white;
        padding-left: 10px;
        padding-bottom: 10px;

        &:nth-child(2) {
            margin-top: 25px;
        }

        &::placeholder {

            color: white;

        }
    }

    button {
        border: none;
        color: #fe0000;
        background: white;
        margin-top: 45px;
        padding: 10px;
        border-radius: 10px;
    }



}

.modal_footer {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    a {
        font-family: "Monsterrat-l";
        color: white;
        font-weight: 300;
        text-decoration: underline;
    }
}

/*END MODAL AUTH*/
/*MODAL FEEDBACK*/
.modal_form_feed {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    input {
        font-family: "Monsterrat-l";
        border: none;
        outline: none;
        border-bottom: 1px solid white;
        background: transparent;
        color: white;
        padding-left: 10px;
        padding-bottom: 10px;
        margin-top: 25px;

        &:nth-child(1) {
            margin-top: 0;
        }

        &::placeholder {

            color: white;

        }

    }

    .dropdown {
        font-family: "Monsterrat-l";
        padding-left: 10px;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        margin-top: 25px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        &:hover {
            cursor: pointer;
        }

    }

    .dropdown-menu {
        font-family: "Monsterrat-l";
        width: 92%;
        top: 59%;
        left: 4%;
        border-radius: 0;
        padding: 0;

        li {
            padding: 10px;
            color: white;
            background: #fe0000;

            &:hover {
                background: #e00000;
                cursor: pointer;
            }
        }
    }

    button {
        border: none;
        color: #fe0000;
        background: white;
        margin-top: 40px;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 15px;
    }
}

/*END MODAL FEEDBACK*/
/*MODAL REGISTRATION*/

.modal-body_reg {
    text-align: center;
}

.modal_title_reg {
    width: 50%;
    padding-top: 40px;
    margin-left: 25%;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.modal_footer_reg {

    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 35px;
    margin-top: 10px;

    a {

        padding-left: 15px;
        padding-right: 15px;

        font-family: "Monsterrat-l";
        color: white;
        font-weight: 300;
        text-decoration: underline;
    }
}

.modal_form_reg {
    margin-top: 60px;

    input {
        margin: 0px;
        font-family: "Monsterrat-l";
        border: none;
        outline: none;
        border-bottom: 1px solid white;
        background: transparent;
        color: white;
        padding-left: 0px;
        padding-bottom: 10px;

        &::placeholder {

            color: white;

        }
    }

    .modal_reg {
        input:last-child {
            margin-top: 25px;
        }
    }

    .button_reg {
        width: 50%;
        margin-left: 25%;
        padding: 0 15px;
        display: flex;
        justify-content: center;

        button {
            width: 100%;
            border: none;
            color: #fe0000;
            background: white;
            margin-top: 45px;
            padding: 10px;
            border-radius: 10px;
        }

    }
}

/*END MODAL REGISTRATION*/
/*MODAL UPLOAD*/

.modal_form_upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    input {
        font-family: "Monsterrat-l";
        border: none;
        outline: none;
        background: transparent;
        color: white;
        padding-left: 10px;
        padding-bottom: 10px;
        margin-top: 25px;

        &::placeholder {

            color: white;

        }

    }

    .preview {
        width: 200px;
        height: 130px;
    }

    button {
        width: 100%;
        border: none;
        color: #fe0000;
        background: white;
        margin-top: 40px;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 15px;
    }

    .delete {
        position: absolute;
        top: 40%;
        left: 75%;
        width: 15px;
        height: 15px;
        visibility: hidden;

        &:hover {
            cursor: pointer
        }
    }
}

/*END MODAL UPLOAD*/

.navbar_custom {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #ff0f09;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 100%;
}

.navbar-brands {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 0 !important;
    height: 80px;
    .navbar-brand{
        
   &:nth-child(1){
    width: auto;
    height: 40px;
    margin: 0;
    padding: 0;
}
    &:nth-child(2) {
        width: auto;
        height: 60px;
        padding: 0;
        padding-left: 30px;
    }
}
}
.navbar-nav{
    display: flex;
    align-items: center;
    height: 80px;
}
.navbar-center{
    padding-left: 80px;
}
.navbar-end{
    display: flex;
    align-items: center;
}
.greet{
    font-family: "Monsterrat-exb";
    color: #ffffff;
    font-size: 12px;
}

.navbar_custom .navbar-nav>li>a {
    font-family: "Monsterrat-exb";
    color: white;
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-transform: uppercase;
    &:hover{
        color: white;
        background-color:transparent;
    }
    &:focus{
        outline: none;
        background-color:transparent;
    }
}
.auth>li>a{
    font-family: "Monsterrat-l" !important;
    text-transform: capitalize !important;
    font-size: 12px;
}
#widget-1{
    
.content{
    background: url('./../images/background-w1.png');
    background-size: cover;
    font-family: 'Monsterrat-SemiBold';
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .main_text{
      
        color: white;
        margin-top: 120px;
        text-align: center;
        p{
            text-transform: uppercase;
            margin: 0;
            font-size: 21px;
            line-height: 1.2;
            &:first-child{
                margin-bottom: 5px;
            }
            &:last-child{
                margin-top: 5px;
            }
              
        }
  
          
        img{
            width: 30%;
        }
    }
    .center_img{
        margin-top: 25px;
    }
    .action{
        margin-top: -20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
        &_button{
            color: white;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 19px;
            background: #ff0f09;
            line-height: 1.2;
            text-align: center;
            padding:15px 50px;
            border-radius: 40px;
              
        }
        .more{
            color: white;
            text-decoration: none;
            margin-top: 15px;
            font-size: 18px;
            line-height: 1.2;
           
              
        }
      
          
        
          
    }
}
}

#widget-2{
    .content_2{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .block{
            margin-top: 100px;
            margin-bottom: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;
            img{
                width: auto;
                height: 45%;
                margin-bottom: 30px;
            }
            .bold{
                text-transform: uppercase;
                font-family: 'Monsterrat-exb';
                font-size: 21px;
                color: white;
            }
            .regular{
                margin: 0;
                margin-top: 5px;
                text-align: center;
                font-family: 'Monsterrat-r' ;
                line-height: 1.2;              
                font-size: 17px;
                color: white;
            }
        }
    }
}


#widget-3{
.name{
    margin-top: 95px;
    margin-bottom: 40px;
    h2{
        font-family: 'Monsterrat-b';
        color: white;
        text-transform: uppercase;
        font-size: 27px;
          
        margin: 0;

    }
}
.account{
    background: url('./../images/FilmBackground.png');
    
    height: 1600px;
    background-size: contain;
}
}
.four {
    .h3 {

        padding-top: 60px;
        color: rgb(109, 109, 109);
        font-size: 35px;
        text-transform: uppercase;



    }

    .panel {
        margin-top: 40px;
        box-shadow: none;
    }

    .panel-default {
        border: none;
    }

    .panel-heading {
        margin-top: 20px;
        background: transparent;
        border: none;
    }

    .panel-default>.panel-heading+.panel-collapse>.panel-body {
        border: none;
    }

    a:active,
    a:focus,
    a:hover {

        text-decoration: none;
        border: none;
    }

    .panel-title {
        font-family: "Monsterrat";
        display: flex;
        align-items: center;

        img {
            width: 17px;
            height: 10px;
            margin-right: 20px;
        }
    }
}

.five {
    background: url('./../images/bg_screen.png');
    background-size: cover;

    .header_lk {
        margin-top: 40px;
        display: flex;
        align-items: center;
    }

    .name-sur {
        h4 {
            color: white;
            font-weight: bold;
            font-size: 40px;
            line-height: 50px;
        }
    }

    .edit {
        img {
            width: 60px;
            height: 60px;
        }

        &:hover {
            cursor: pointer;
        }
    }

    .upload_header {
        color: white;

    }

    .upload_body {

        div {
            padding-top: 30px;
            font-size: 18px;
            font-weight: bold;
            color: white;

        }

    }

    .upload_more {
        background-color: rgb(213, 15, 13);
        box-shadow: -0.122px 6.999px 24px 0px rgba(99, 2, 2, 0.51);
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        padding: 12px 0;
        text-decoration: none;
        color: white;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 15px;
        outline: none;

    }

    .prizes_lk {
        margin-top: 35px;
        margin-bottom: 15px;

        h4 {
            font-size: 25px;
            font-weight: bold;
            color: white;
        }
    }



    .table_prizes {
        background: rgb(213, 15, 13);
        color: white;
        margin-top: 30px;
        margin-bottom: 40px;

        .prizes-header {
            padding: 20px;
            box-shadow: inset 0px -1px 0px rgb(141, 0, 0);
        }

        &_body {
            background: rgb(213, 15, 13);
            font-size: 16px;
            line-height: 20px;

            .part {
                display: flex;
                align-items: center;
                height: 80px;
                box-shadow: inset 0px -1px 0px rgb(141, 0, 0);

                .get {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    img {
                        width: 40px;
                        height: 40px;
                    }

                    a {
                        color: white;
                        text-decoration: none;
                        padding: 12px 20px;
                        font-size: 16px;
                        border: 1px solid #ffffff;
                    }
                }
            }
        }
    }

}