@font-face {
    font-family: 'Myriad';
    src: url('../fonts/MyriadPro-Regular_2.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'Monsterrat';
    src: url('../fonts/Montserrat-Medium.otf');

}

@font-face {
    font-family: 'Monsterrat-l';
    src: url('../fonts/Montserrat-Light.otf');

}

@font-face {
    font-family: 'Monsterrat-b';
    src: url('../fonts/Montserrat-Bold.otf');

}

@font-face {
    font-family: 'Monsterrat-exb';
    src: url('../fonts/Montserrat-ExtraBold.otf');

}

@font-face {
    font-family: 'Monsterrat-SemiBold';
    src: url('../fonts/Montserrat-SemiBold.otf');

}

@font-face {
    font-family: 'Monsterrat-r';
    src: url('../fonts/Montserrat-Regular.otf');

}

body {
    background: url(./../images/Back.png);
    background-size: cover;
    font-family: "Monsterrat";
}

.chairs {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 100;
}

.modal-content {
    background: url('./../images/modalbg.png');
    background-size: cover;
    box-shadow: none;
    border: none;
    margin-top: 120px;
}

.close {
    margin-top: 25px;
    margin-right: 40px;
    opacity: 1;
    text-decoration: none;
    outline: none;

    &:hover {
        opacity: 1
    }
}

/*MODAL AUTH*/
.modal-body {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

.modal_title {
    margin: 0;
    margin-top: 25px;
    text-transform: uppercase;
    color: white;
}

.modal_form {
    margin-top: 60px;
    display: flex;
    flex-direction: column;

    input {
        font-family: "Monsterrat-l";
        border: none;
        outline: none;
        border-bottom: 1px solid white;
        background: transparent;
        color: white;
        padding-left: 10px;
        padding-bottom: 10px;

        &:nth-child(2) {
            margin-top: 25px;
        }

        &::placeholder {

            color: white;

        }
    }

    button {
        border: none;
        color: #fe0000;
        background: white;
        margin-top: 45px;
        padding: 10px;
        border-radius: 10px;
    }



}

.modal_footer {
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 15px;
    display: flex;
    justify-content: space-between;

    a {
        font-family: "Monsterrat-l";
        color: white;
        font-weight: 300;
        text-decoration: underline;
    }
}

/*END MODAL AUTH*/
/*MODAL FEEDBACK*/
.modal_form_feed {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

    input {
        font-family: "Monsterrat-l";
        border: none;
        outline: none;
        border-bottom: 1px solid white;
        background: transparent;
        color: white;
        padding-left: 10px;
        padding-bottom: 10px;
        margin-top: 25px;

        &:nth-child(1) {
            margin-top: 0;
        }

        &::placeholder {

            color: white;

        }

    }

    .dropdown {
        font-family: "Monsterrat-l";
        padding-left: 10px;
        border-bottom: 1px solid white;
        padding-bottom: 10px;
        margin-top: 25px;
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;

        &:hover {
            cursor: pointer;
        }

    }

    .dropdown-menu {
        font-family: "Monsterrat-l";
        width: 92%;
        top: 59%;
        left: 4%;
        border-radius: 0;
        padding: 0;

        li {
            padding: 10px;
            color: white;
            background: #fe0000;

            &:hover {
                background: #e00000;
                cursor: pointer;
            }
        }
    }

    button {
        border: none;
        color: #fe0000;
        background: white;
        margin-top: 40px;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 15px;
    }
}

/*END MODAL FEEDBACK*/
/*MODAL REGISTRATION*/

.modal-body_reg {
    text-align: center;
}

.modal_title_reg {
    width: 50%;
    padding-top: 40px;
    margin-left: 25%;
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.modal_footer_reg {

    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 35px;
    margin-top: 10px;

    a {

        padding-left: 15px;
        padding-right: 15px;

        font-family: "Monsterrat-l";
        color: white;
        font-weight: 300;
        text-decoration: underline;
    }
}

.modal_form_reg {
    margin-top: 60px;

    input {
        margin: 0px;
        font-family: "Monsterrat-l";
        border: none;
        outline: none;
        border-bottom: 1px solid white;
        background: transparent;
        color: white;
        padding-left: 0px;
        padding-bottom: 10px;

        &::placeholder {

            color: white;

        }
    }

    .modal_reg {
        input:last-child {
            margin-top: 25px;
        }
    }

    .button_reg {
        width: 50%;
        margin-left: 25%;
        padding: 0 15px;
        display: flex;
        justify-content: center;

        button {
            width: 100%;
            border: none;
            color: #fe0000;
            background: white;
            margin-top: 45px;
            padding: 10px;
            border-radius: 10px;
        }

    }
}

/*END MODAL REGISTRATION*/
/*MODAL UPLOAD*/

.modal_form_upload {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;

    input {
        font-family: "Monsterrat-l";
        border: none;
        outline: none;
        background: transparent;
        color: white;
        padding-left: 10px;
        padding-bottom: 10px;
        margin-top: 25px;

        &::placeholder {

            color: white;

        }

    }

    .preview {
        width: 200px;
        height: 130px;
    }

    button {
        width: 100%;
        border: none;
        color: #fe0000;
        background: white;
        margin-top: 40px;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 15px;
    }

    .delete {
        position: absolute;
        top: 40%;
        left: 75%;
        width: 15px;
        height: 15px;
        visibility: hidden;

        &:hover {
            cursor: pointer
        }
    }
}

/*END MODAL UPLOAD*/

.navbar_custom {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    background: #ff0f09;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

img {
    width: 100%;
    height: 100%;
}

.navbar-brands {
    display: flex;
    align-items: center;
    padding: 0;
    margin-left: 0 !important;
    height: 80px;

    .navbar-brand {

        &:nth-child(1) {
            width: auto;
            height: 40px;
            margin: 0;
            padding: 0;
        }

        &:nth-child(2) {
            width: auto;
            height: 50px;
            padding: 0;
            padding-left: 30px;
        }
    }
}

.navbar-nav {
    display: flex;
    align-items: center;
    height: 80px;
}

.navbar-center {
    padding-left: 80px;
}

.navbar-end {
    display: flex;
    align-items: center;
    float: right;
}

.greet {
    font-family: "Monsterrat-exb";
    color: #ffffff;
    font-size: 12px;
}

.navbar_custom .navbar-nav>li>a {
    font-family: "Monsterrat-exb";
    color: white;
    font-size: 14px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-transform: uppercase;

    &:hover {
        color: white;
        background-color: transparent;
    }

    &:focus {
        outline: none;
        background-color: transparent;
    }
}

.auth>li>a {
    font-family: "Monsterrat-l" !important;
    text-transform: capitalize !important;
    font-size: 12px;
}

#widget-1 {

    .content {
        background: url('./../images/background-w1.png');
        background-size: cover;
        background-position: center;
        font-family: 'Monsterrat-SemiBold';
        display: flex;
        flex-direction: column;
        align-items: center;

        .main_text {

            color: white;
            margin-top: 100px;
            text-align: center;

            p {
                text-transform: uppercase;
                margin: 0;
                font-size: 18px;
                line-height: 1.2;

                &:first-child {
                    margin-bottom: 5px;
                }

                &:last-child {
                    margin-top: 5px;
                }

            }


            img {
                width: 25%;
                height: auto;
            }
        }

        .center_img {
            margin-top: 25px;
        }

        .action {
            z-index: 3;
            margin-top: -20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 80px;

            &_button {
                color: white;
                text-decoration: none;
                text-transform: uppercase;
                font-size: 17px;
                background: #ff0f09;
                line-height: 1.2;
                text-align: center;
                padding: 10px 30px;
                border-radius: 40px;

            }

            .more {
                color: white;
                text-decoration: none;
                margin-top: 10px;
                font-size: 16px;
                line-height: 1.2;


            }




        }
    }
}

#widget-2 {
    .content_2 {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .block {
            margin-top: 100px;
            margin-bottom: 0px;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: auto;
                height: 45%;
                margin-bottom: 30px;
            }

            .bold {
                text-transform: uppercase;
                font-family: 'Monsterrat-exb';
                font-size: 21px;
                color: white;
            }

            .regular {
                margin: 0;
                margin-top: 5px;
                text-align: center;
                font-family: 'Monsterrat-r';
                line-height: 1.2;
                font-size: 17px;
                color: white;
            }
        }
    }
}


#widget-3 {

    .name {
        margin-top: 95px;
        margin-bottom: 40px;
        

        h2 {
            font-family: 'Monsterrat-SemiBold';
            color: white;
            text-transform: uppercase;
            font-size: 30px;
            margin: 0;
            padding: 0 10px;

        }
    }

    .content_3 {
        padding: 0 30px;

        .account {
            background: url('./../images/FilmBackground.png');
            background-size: 100%;
            background-repeat: no-repeat;


            &_header {
                margin-bottom: 40px;
                display: flex;
                align-items: flex-end;

                &_name {
                    font-family: 'Monsterrat-r';
                    color: white;
                    margin-top: 30px;
                    font-size: 40px;
                    line-height: 1.2;


                }

                &_edit {
                    img {
                        height: 30px;
                        width: auto;
                        margin-top: -40px;
                    }
                }

                &_number {
                    
                    font-family: 'Monsterrat-r';
                    color: #ff0f0a;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;

                    .number {
                        margin-right: -50px;
                        font-size: 70px;
                        margin-bottom: -40px;
                    }

                    .receipt {
                        margin-right: -50px;
                        font-size: 50px;
                        margin-bottom: -15px;
                    }
                }

                &_img {


                    img {
                        height: 90px;
                        width: auto;
                    }
                }
            }

            &_details {
                &_center {
                    padding-bottom: 20px;
                }

                &_email {
                    display: flex;
                    margin-bottom: 20px;
                    align-items: center;

                    span {
                        font-family: 'Monsterrat-r';
                        color: white;
                        font-size: 22px;
                    }

                    img {
                        height: 25px;
                        width: auto;
                        margin-right: 35px;
                    }
                }

                &_phone {
                    align-items: center;
                    display: flex;

                    span {
                        font-family: 'Monsterrat-r';
                        color: white;
                        font-size: 22px;
                    }

                    img {
                        margin-right: 35px;
                        height: auto;
                        width: 25px;
                    }
                }
            }

            .dotline_account {
                width: 90%;
                margin-left: 5%;
            }

            &_receipt {
                &_lines {
                    margin-top: 50px;
                    margin-bottom: 30px;
                }

                &_line {
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;

                    .receipt {
                        display: flex;
                        align-items: center;

                        img {
                            height: 40px;
                            width: auto;
                            margin-right: 30px;
                        }

                        span {
                            font-family: 'Monsterrat-SemiBold';
                            font-size: 16px;
                            color: white;
                        }
                    }

                    .status {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;

                        img {
                            height: 20px;
                            width: auto;
                            margin-right: 10px;
                        }

                        span {
                            font-family: 'Monsterrat-SemiBold';
                            font-size: 16px;
                            color: white;
                        }
                    }

                    .date {
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;

                        .day {
                            margin-right: 10px;
                        }

                        .day,
                        .time {
                            font-family: 'Monsterrat-SemiBold';
                            font-size: 16px;
                            color: white;
                        }
                    }

                }
            }

            &_prizes {
                margin-top: 20px;

                &_header {
                    margin-bottom: 15px;

                    .date {
                        color: white;
                        font-family: 'Monsterrat-SemiBold';
                        font-size: 12px;

                    }

                    .code {
                        text-align: center;
                        color: white;
                        font-family: 'Monsterrat-SemiBold';
                        font-size: 12px;
                    }

                    .prize {
                        text-align: center;
                        color: white;
                        font-family: 'Monsterrat-SemiBold';
                        font-size: 12px;
                    }
                }

                &_content {
                    &:last-child {
                        margin-bottom: 40px;
                    }

                    margin-bottom: 10px;
                    display: flex;
                    align-items: center;

                    .date {
                        color: white;
                        font-family: 'Monsterrat-SemiBold';
                        font-size: 16px;

                    }

                    .code {
                        text-align: center;
                        color: white;
                        font-family: 'Monsterrat-SemiBold';
                        font-size: 16px;
                    }

                    .prize {
                        img {
                            width: 30px;
                            height: auto;
                            margin-right: 10px;
                        }

                        display: flex;
                        align-items: center;
                        text-align: left;
                        color: white;
                        font-family: 'Monsterrat-SemiBold';
                        font-size: 14px;
                    }

                    .button {
                        text-align: center;

                        a {
                            text-decoration: none;
                            color: white;
                            font-family: 'Monsterrat-SemiBold';
                            font-size: 12px;
                            background: #ff0f09;
                            text-transform: uppercase;
                            padding: 10px 20px;
                            border-radius: 25px;
                        }
                    }
                }
            }
        }
    }

}

#widget-4 {
    margin-top: 100px;

    .h3 {
        color: rgb(255, 255, 255);
        font-family: 'Monsterrat-SemiBold';
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 50px;



    }

    .panel {
        margin-top: 40px;
        box-shadow: none;
        background: transparent;
        color: white;
        font-family: 'Monsterrat-r';
    }

    .panel-default {
        border: none;
    }

    .panel-heading {
        padding: 0;
        color: white;

        background: transparent;
        border: none;
    }

    .panel-default>.panel-heading+.panel-collapse>.panel-body {
        border: none;
        color: #b8b8b8;
        font-size: 16px;
        padding: 10px 40px;
    }

    a:active,
    a:focus,
    a:hover {

        text-decoration: none;
        border: none;
    }

    .panel-title {
        font-family: 'Monsterrat-r';
        font-size: 22px;
        display: flex;
        align-items: center;


    }
}

#widget-5 {
    margin-top: 60px;
    margin-bottom: 80px;

    .h3 {
        color: rgb(255, 255, 255);
        font-family: 'Monsterrat-SemiBold';
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 70px;
    }

    .prizes {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        .prize {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            img {
                width: 70%;
                height: auto;
            }

            span {
                text-align: center;
                font-size: 19px;
                text-transform: uppercase;
                font-family: 'Monsterrat-SemiBold';
                color: white;
                margin-top: 30px;
                line-height: 1.2;



            }
        }
    }
}

#widget-6 {
    color: white;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    position: relative;
    padding-bottom: 18%;

    .h3 {
        color: rgb(255, 255, 255);
        font-family: 'Monsterrat-SemiBold';
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 70px;
    }

    .winners_header div {
        text-align: left;
        font-size: 13px;
        
    }

    .winners_body {
        font-family: "Monsterrat-r";
        font-size: 17px;
    }

    .winners_body .block {
        margin-top: 20px;
        padding-bottom: 10px;
        border-bottom: 1px solid #707070;
    }

    .pagination {
        display: flex;
        justify-content: center;
    }

    .swiper-container {
        width: 100%;
        height: auto;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
    }

    .swiper-pagination {
        width: 100%;
        position: relative;
        height: 40px;
        margin-top: 80px;
        background: #d50f0d;
        display: flex;
        align-items: center;

        justify-content: center;
    }

    .swiper-pagination-bullet {
        outline: none;
        font-family: "Monsterrat-r";
        width: 25px;
        height: 25px;

        display: flex;


        justify-content: center;

        align-items: center;
        text-align: center;
        line-height: 20px;
        font-size: 14px;
        color: white;
        opacity: 1;
        background: transparent;
    }

    .leftbtn,
    .rightbtn {
        outline: none;
        margin-top: 80px;
        background: #d50f0d;
        border-radius: 20px;
        height: 40px;

        display: flex;

        align-items: center;
    }

    .leftbtn img,
    .rightbtn img {
        width: 5px;
        height: 12px;
    }

    .leftbtn {

        justify-content: flex-start;
        margin-right: -50px;
    }

    .rightbtn {

        justify-content: flex-end;
        margin-left: -50px;
    }

    .swiper-pagination-bullet-active {
        outline: none;
        color: black;
        background: #ffffff;
    }

}
#widget-7{
    background: #000;
    padding-bottom: 50px;
    padding-top:100px;
.footer{
   
    
    z-index: 105;
    text-transform: uppercase;
    font-size: 16px;
    padding: 0 20px;
    
    display: flex;
    justify-content: space-between;
    a{
        
        color: white;
        text-decoration: none;
    }
}
}