@font-face {
  font-family: 'Myriad';
  src: url("../fonts/MyriadPro-Regular_2.otf");
  font-weight: normal; }

@font-face {
  font-family: 'Monsterrat';
  src: url("../fonts/Montserrat-Medium.otf"); }

@font-face {
  font-family: 'Monsterrat-l';
  src: url("../fonts/Montserrat-Light.otf"); }

@font-face {
  font-family: 'Monsterrat-b';
  src: url("../fonts/Montserrat-Bold.otf"); }

@font-face {
  font-family: 'Monsterrat-exb';
  src: url("../fonts/Montserrat-ExtraBold.otf"); }

@font-face {
  font-family: 'Monsterrat-SemiBold';
  src: url("../fonts/Montserrat-SemiBold.otf"); }

@font-face {
  font-family: 'Monsterrat-r';
  src: url("../fonts/Montserrat-Regular.otf"); }

body {
  background: #000;
  font-family: "Monsterrat"; }

.chairs {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  z-index: 100; }

.modal-content {
  background: url("./../images/modalbg.png");
  background-size: cover;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  margin-top: 120px; }

.close {
  margin-top: 25px;
  margin-right: 40px;
  opacity: 1;
  text-decoration: none;
  outline: none; }
  .close:hover {
    opacity: 1; }

/*MODAL AUTH*/
.modal-body {
  text-align: center;
  width: 50%;
  margin-left: 25%; }

.modal_title {
  margin: 0;
  margin-top: 25px;
  text-transform: uppercase;
  color: white; }

.modal_form {
  margin-top: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  .modal_form input {
    font-family: "Monsterrat-l";
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px; }
    .modal_form input:nth-child(2) {
      margin-top: 25px; }
    .modal_form input::-webkit-input-placeholder {
      color: white; }
    .modal_form input::-moz-placeholder {
      color: white; }
    .modal_form input:-ms-input-placeholder {
      color: white; }
    .modal_form input::-ms-input-placeholder {
      color: white; }
    .modal_form input::placeholder {
      color: white; }
  .modal_form button {
    border: none;
    color: #fe0000;
    background: white;
    margin-top: 45px;
    padding: 10px;
    border-radius: 10px; }

.modal_footer {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 15px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .modal_footer a {
    font-family: "Monsterrat-l";
    color: white;
    font-weight: 300;
    text-decoration: underline; }

/*END MODAL AUTH*/
/*MODAL FEEDBACK*/
.modal_form_feed {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 30px; }
  .modal_form_feed input {
    font-family: "Monsterrat-l";
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 25px; }
    .modal_form_feed input:nth-child(1) {
      margin-top: 0; }
    .modal_form_feed input::-webkit-input-placeholder {
      color: white; }
    .modal_form_feed input::-moz-placeholder {
      color: white; }
    .modal_form_feed input:-ms-input-placeholder {
      color: white; }
    .modal_form_feed input::-ms-input-placeholder {
      color: white; }
    .modal_form_feed input::placeholder {
      color: white; }
  .modal_form_feed .dropdown {
    font-family: "Monsterrat-l";
    padding-left: 10px;
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-top: 25px;
    text-align: left;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    color: white; }
    .modal_form_feed .dropdown:hover {
      cursor: pointer; }
  .modal_form_feed .dropdown-menu {
    font-family: "Monsterrat-l";
    width: 92%;
    top: 59%;
    left: 4%;
    border-radius: 0;
    padding: 0; }
    .modal_form_feed .dropdown-menu li {
      padding: 10px;
      color: white;
      background: #fe0000; }
      .modal_form_feed .dropdown-menu li:hover {
        background: #e00000;
        cursor: pointer; }
  .modal_form_feed button {
    border: none;
    color: #fe0000;
    background: white;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px; }

/*END MODAL FEEDBACK*/
/*MODAL REGISTRATION*/
.modal-body_reg {
  text-align: center; }

.modal_title_reg {
  width: 50%;
  padding-top: 40px;
  margin-left: 25%;
  text-align: center;
  text-transform: uppercase;
  color: white; }

.modal_footer_reg {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 35px;
  margin-top: 10px; }
  .modal_footer_reg a {
    padding-left: 15px;
    padding-right: 15px;
    font-family: "Monsterrat-l";
    color: white;
    font-weight: 300;
    text-decoration: underline; }

.modal_form_reg {
  margin-top: 60px; }
  .modal_form_reg input {
    margin: 0px;
    font-family: "Monsterrat-l";
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    background: transparent;
    color: white;
    padding-left: 0px;
    padding-bottom: 10px; }
    .modal_form_reg input::-webkit-input-placeholder {
      color: white; }
    .modal_form_reg input::-moz-placeholder {
      color: white; }
    .modal_form_reg input:-ms-input-placeholder {
      color: white; }
    .modal_form_reg input::-ms-input-placeholder {
      color: white; }
    .modal_form_reg input::placeholder {
      color: white; }
  .modal_form_reg .modal_reg input:last-child {
    margin-top: 25px; }
  .modal_form_reg .button_reg {
    width: 50%;
    margin-left: 25%;
    padding: 0 15px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .modal_form_reg .button_reg button {
      width: 100%;
      border: none;
      color: #fe0000;
      background: white;
      margin-top: 45px;
      padding: 10px;
      border-radius: 10px; }

/*END MODAL REGISTRATION*/
/*MODAL UPLOAD*/
.modal_form_upload {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px; }
  .modal_form_upload input {
    font-family: "Monsterrat-l";
    border: none;
    outline: none;
    background: transparent;
    color: white;
    padding-left: 10px;
    padding-bottom: 10px;
    margin-top: 25px; }
    .modal_form_upload input::-webkit-input-placeholder {
      color: white; }
    .modal_form_upload input::-moz-placeholder {
      color: white; }
    .modal_form_upload input:-ms-input-placeholder {
      color: white; }
    .modal_form_upload input::-ms-input-placeholder {
      color: white; }
    .modal_form_upload input::placeholder {
      color: white; }
  .modal_form_upload .preview {
    width: 200px;
    height: 130px; }
  .modal_form_upload button {
    width: 100%;
    border: none;
    color: #fe0000;
    background: white;
    margin-top: 40px;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 15px; }
  .modal_form_upload .delete {
    position: absolute;
    top: 40%;
    left: 75%;
    width: 15px;
    height: 15px;
    visibility: hidden; }
    .modal_form_upload .delete:hover {
      cursor: pointer; }

/*END MODAL UPLOAD*/
.navbar_custom {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background: #ff0f09;
  height: 80px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

img {
  width: 100%;
  height: 100%; }

.navbar-brands {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin-left: 0 !important;
  height: 80px; }
  .navbar-brands .navbar-brand:nth-child(1) {
    width: auto;
    height: 40px;
    margin: 0;
    padding: 0; }
  .navbar-brands .navbar-brand:nth-child(2) {
    width: auto;
    height: 60px;
    padding: 0;
    padding-left: 30px; }

.navbar-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px; }

.navbar-center {
  padding-left: 80px; }

.navbar-end {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  float: right; }

.greet {
  font-family: "Monsterrat-exb";
  color: #ffffff;
  font-size: 12px; }

.navbar_custom .navbar-nav > li > a {
  font-family: "Monsterrat-exb";
  color: white;
  font-size: 14px;
  padding-top: 0px;
  padding-bottom: 0px;
  text-transform: uppercase; }
  .navbar_custom .navbar-nav > li > a:hover {
    color: white;
    background-color: transparent; }
  .navbar_custom .navbar-nav > li > a:focus {
    outline: none;
    background-color: transparent; }

.auth > li > a {
  font-family: "Monsterrat-l" !important;
  text-transform: capitalize !important;
  font-size: 12px; }

#widget-1 .content {
  background: url("./../images/background-w1.png");
  background-size: cover;
  background-position: center;
  font-family: 'Monsterrat-SemiBold';
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  #widget-1 .content .main_text {
    color: white;
    margin-top: 120px;
    text-align: center; }
    #widget-1 .content .main_text p {
      text-transform: uppercase;
      margin: 0;
      font-size: 21px;
      line-height: 1.2; }
      #widget-1 .content .main_text p:first-child {
        margin-bottom: 5px; }
      #widget-1 .content .main_text p:last-child {
        margin-top: 5px; }
    #widget-1 .content .main_text img {
      width: 30%; }
  #widget-1 .content .center_img {
    margin-top: 25px; }
  #widget-1 .content .action {
    margin-top: -20px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 80px; }
    #widget-1 .content .action_button {
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 19px;
      background: #ff0f09;
      line-height: 1.2;
      text-align: center;
      padding: 15px 50px;
      border-radius: 40px; }
    #widget-1 .content .action .more {
      color: white;
      text-decoration: none;
      margin-top: 15px;
      font-size: 18px;
      line-height: 1.2; }

#widget-2 .content_2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #widget-2 .content_2 .block {
    margin-top: 100px;
    margin-bottom: 0px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
    #widget-2 .content_2 .block img {
      width: auto;
      height: 45%;
      margin-bottom: 30px; }
    #widget-2 .content_2 .block .bold {
      text-transform: uppercase;
      font-family: 'Monsterrat-exb';
      font-size: 21px;
      color: white; }
    #widget-2 .content_2 .block .regular {
      margin: 0;
      margin-top: 5px;
      text-align: center;
      font-family: 'Monsterrat-r';
      line-height: 1.2;
      font-size: 17px;
      color: white; }

#widget-3 .name {
  margin-top: 95px;
  margin-bottom: 40px; }
  #widget-3 .name h2 {
    font-family: 'Monsterrat-SemiBold';
    color: white;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0; }

#widget-3 .content_3 {
  padding: 0 30px; }
  #widget-3 .content_3 .account {
    background: url("./../images/FilmBackground.png");
    background-size: 100%;
    background-repeat: no-repeat; }
    #widget-3 .content_3 .account_header {
      margin-bottom: 60px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: end;
      -webkit-align-items: flex-end;
          -ms-flex-align: end;
              align-items: flex-end; }
      #widget-3 .content_3 .account_header_name {
        font-family: 'Monsterrat-r';
        color: white;
        margin-top: 30px;
        font-size: 50px;
        line-height: 1.2; }
      #widget-3 .content_3 .account_header_edit img {
        height: 35px;
        width: auto;
        margin-top: -50px; }
      #widget-3 .content_3 .account_header_number {
        font-family: 'Monsterrat-r';
        color: #ff0f0a;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
            -ms-flex-pack: start;
                justify-content: flex-start; }
        #widget-3 .content_3 .account_header_number .number {
          margin-right: -60px;
          font-size: 80px;
          margin-bottom: -40px; }
        #widget-3 .content_3 .account_header_number .receipt {
          margin-right: -60px;
          font-size: 50px;
          margin-bottom: -15px; }
      #widget-3 .content_3 .account_header_img img {
        height: 100px;
        width: auto; }
    #widget-3 .content_3 .account_details_center {
      padding-bottom: 25px; }
    #widget-3 .content_3 .account_details_email {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 20px;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      #widget-3 .content_3 .account_details_email span {
        font-family: 'Monsterrat-r';
        color: white;
        font-size: 27px; }
      #widget-3 .content_3 .account_details_email img {
        height: 20px;
        width: auto;
        margin-right: 35px; }
    #widget-3 .content_3 .account_details_phone {
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex; }
      #widget-3 .content_3 .account_details_phone span {
        font-family: 'Monsterrat-r';
        color: white;
        font-size: 27px; }
      #widget-3 .content_3 .account_details_phone img {
        margin-right: 35px;
        height: auto;
        width: 30px; }
    #widget-3 .content_3 .account .dotline_account {
      width: 90%;
      margin-left: 5%; }
    #widget-3 .content_3 .account_receipt_lines {
      margin-top: 50px;
      margin-bottom: 30px; }
    #widget-3 .content_3 .account_receipt_line {
      margin-bottom: 20px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      #widget-3 .content_3 .account_receipt_line .receipt {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        #widget-3 .content_3 .account_receipt_line .receipt img {
          height: 50px;
          width: auto;
          margin-right: 30px; }
        #widget-3 .content_3 .account_receipt_line .receipt span {
          font-family: 'Monsterrat-SemiBold';
          font-size: 18px;
          color: white; }
      #widget-3 .content_3 .account_receipt_line .status {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        text-align: center; }
        #widget-3 .content_3 .account_receipt_line .status img {
          height: 25px;
          width: auto;
          margin-right: 10px; }
        #widget-3 .content_3 .account_receipt_line .status span {
          font-family: 'Monsterrat-SemiBold';
          font-size: 18px;
          color: white; }
      #widget-3 .content_3 .account_receipt_line .date {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
            -ms-flex-pack: end;
                justify-content: flex-end; }
        #widget-3 .content_3 .account_receipt_line .date .day {
          margin-right: 10px; }
        #widget-3 .content_3 .account_receipt_line .date .day,
        #widget-3 .content_3 .account_receipt_line .date .time {
          font-family: 'Monsterrat-SemiBold';
          font-size: 18px;
          color: white; }
    #widget-3 .content_3 .account_prizes {
      margin-top: 30px; }
      #widget-3 .content_3 .account_prizes_header {
        margin-bottom: 25px; }
        #widget-3 .content_3 .account_prizes_header .date {
          color: white;
          font-family: 'Monsterrat-SemiBold';
          font-size: 14px; }
        #widget-3 .content_3 .account_prizes_header .code {
          text-align: center;
          color: white;
          font-family: 'Monsterrat-SemiBold';
          font-size: 14px; }
        #widget-3 .content_3 .account_prizes_header .prize {
          text-align: center;
          color: white;
          font-family: 'Monsterrat-SemiBold';
          font-size: 14px; }
      #widget-3 .content_3 .account_prizes_content {
        margin-bottom: 7px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center; }
        #widget-3 .content_3 .account_prizes_content:last-child {
          margin-bottom: 80px; }
        #widget-3 .content_3 .account_prizes_content .date {
          color: white;
          font-family: 'Monsterrat-SemiBold';
          font-size: 18px; }
        #widget-3 .content_3 .account_prizes_content .code {
          text-align: center;
          color: white;
          font-family: 'Monsterrat-SemiBold';
          font-size: 18px; }
        #widget-3 .content_3 .account_prizes_content .prize {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center;
          text-align: center;
          color: white;
          font-family: 'Monsterrat-SemiBold';
          font-size: 16px; }
          #widget-3 .content_3 .account_prizes_content .prize img {
            width: 40px;
            height: auto;
            margin-right: 10px; }
        #widget-3 .content_3 .account_prizes_content .button {
          text-align: center; }
          #widget-3 .content_3 .account_prizes_content .button a {
            text-decoration: none;
            color: white;
            font-family: 'Monsterrat-SemiBold';
            font-size: 16px;
            background: #ff0f09;
            text-transform: uppercase;
            padding: 10px 20px;
            border-radius: 25px; }

#widget-4 {
  margin-top: 100px; }
  #widget-4 .h3 {
    color: white;
    font-family: 'Monsterrat-SemiBold';
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 50px; }
  #widget-4 .panel {
    margin-top: 40px;
    -webkit-box-shadow: none;
            box-shadow: none;
    background: transparent;
    color: white;
    font-family: 'Monsterrat-r'; }
  #widget-4 .panel-default {
    border: none; }
  #widget-4 .panel-heading {
    padding: 0;
    color: white;
    background: transparent;
    border: none; }
  #widget-4 .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: none;
    color: #b8b8b8;
    font-size: 16px;
    padding: 10px 40px; }
  #widget-4 a:active,
  #widget-4 a:focus,
  #widget-4 a:hover {
    text-decoration: none;
    border: none; }
  #widget-4 .panel-title {
    font-family: 'Monsterrat-r';
    font-size: 22px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }

#widget-5 {
  margin-top: 60px;
  margin-bottom: 80px; }
  #widget-5 .h3 {
    color: white;
    font-family: 'Monsterrat-SemiBold';
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 70px; }
  #widget-5 .prizes {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    #widget-5 .prizes .prize {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center; }
      #widget-5 .prizes .prize img {
        width: 70%;
        height: auto; }
      #widget-5 .prizes .prize span {
        text-align: center;
        font-size: 19px;
        text-transform: uppercase;
        font-family: 'Monsterrat-SemiBold';
        color: white;
        margin-top: 30px;
        line-height: 1.2; }

#widget-6 {
  color: white;
  margin-top: 60px;
  margin-bottom: 18%; }
  #widget-6 .h3 {
    color: white;
    font-family: 'Monsterrat-SemiBold';
    font-size: 30px;
    text-transform: uppercase;
    margin-bottom: 70px; }
  #widget-6 .winners_header div {
    text-align: left;
    font-size: 13px; }
  #widget-6 .winners_body {
    font-family: "Monsterrat-r";
    font-size: 17px; }
  #widget-6 .winners_body .block {
    margin-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #707070; }
  #widget-6 .pagination {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #widget-6 .swiper-container {
    width: 100%;
    height: auto; }
  #widget-6 .swiper-slide {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  #widget-6 .swiper-pagination {
    width: 100%;
    position: relative;
    height: 40px;
    margin-top: 80px;
    background: #d50f0d;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #widget-6 .swiper-pagination-bullet {
    outline: none;
    font-family: "Monsterrat-r";
    width: 25px;
    height: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
    color: white;
    opacity: 1;
    background: transparent; }
  #widget-6 .leftbtn,
  #widget-6 .rightbtn {
    outline: none;
    margin-top: 80px;
    background: #d50f0d;
    border-radius: 20px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  #widget-6 .leftbtn img,
  #widget-6 .rightbtn img {
    width: 5px;
    height: 12px; }
  #widget-6 .leftbtn {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-right: -50px; }
  #widget-6 .rightbtn {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    margin-left: -50px; }
  #widget-6 .swiper-pagination-bullet-active {
    outline: none;
    color: black;
    background: #ffffff; }

#widget-7 .footer {
  background: #000;
  padding-bottom: 110px;
  z-index: 105;
  text-transform: uppercase;
  font-size: 17px;
  padding: 0 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  #widget-7 .footer a {
    color: white;
    text-decoration: none; }
